[init]
	defaultBranch = main
[user]
	name = Brandon Jaus
	email = brandon.jaus@gmail.com
[alias]
  a = add
  ap = add --patch
  au = add --update
  apu = add --patch --update
  c = commit
  dw = diff -w
  dws = diff -w --staged
  l = log
  s = status
